.btn-lg {
  display: block;
  width: 100%;
  margin: 2.5rem auto;
  font-size: 2rem;
  padding: 2rem 3rem;
  border: #eee 2px solid;
}

.btn-lg:hover {
  cursor: pointer;
}

.l-heading {
  margin-bottom: 5rem;
}

.logo {
  padding-right: 0px!important;
}

#showcase {
  height: 100vh;
}

.showcase-skladiste {
  height: 80vh!important;
  position:relative;
}


.showcase-content-skladiste {

  text-align: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
  background-color: rgba(0,0,0,0.6)
}

.ui.bottom.attached.tab.segment{
  height: 80.1vh;
  padding: 0;
}


#stanjeTabContent #showcase .showcase-content,
#dokumentiTabContent #showcase .showcase-content {
  display: block;
}

#stanjeTabContent #showcase .showcase-content .l-heading,
#dokumentiTabContent #showcase .showcase-content .l-heading {
  margin: 0;
  text-align: left;
}

.plus-icon {
  color: rgb(66,139,202);
  display: flex;
  align-items: center;
}

.plus-icon:hover {
  color:rgb(34, 89, 138);
  cursor: pointer;
}

.header {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header span {
  font-size: 1.5rem;
  margin-left: 1rem;
}


.filter {
  margin-top: 2rem;
  margin-bottom: 2rem;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.filter .input,
.filter .dropdown{
  margin-top: 1rem;
  border-radius: 5px;
}

table.display {
  width: 100%;
  height: 100%;
}

th {
  padding: 1rem 2rem!important;
  background-color: white!important;
  font-size: 1.5rem;
  border-left: 2px dashed #333;
}
.rememberDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rememberSpan  {
  font-size: 1.5rem;
  color: white
}

#tabs a.paginate_button.item{
  color: #333!important;
}

#tabs label {
  color: white;
}

#stanjeTablica {
  margin-bottom: 3rem;
}
