<!DOCTYPE html>
<html lang="en" ng-app="skladisteModule">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="ASxCRO">
  <meta name="keywords" content="Gradnja, Visokogradnja, Niskogradnja, Građevinske usluge">
  <meta name="description" content="Gradite kuću? Vaš pravi izbor je VŠMTI GRADNJA d.o.o. !">
  <meta name="robots" content="all">
  <link rel="stylesheet" href="./fonts/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="./bundle/animateCSS/animate.min.css">
  <link rel="stylesheet" type="text/css" href="./bundle/semanticUI/dist/semantic.min.css">
  <link rel="stylesheet" href="./bundle/dataTables/datatables.min.css">
  <link rel="stylesheet" href="./bundle/dataTables/DataTables-1.10.21/css/dataTables.semanticui.min.css">
  <link rel="stylesheet" href="./bundle/dataTables/DataTables-1.10.21/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/dodajArtikl.css">
  <link rel="stylesheet" media="screen and (max-width:768px)" href="./css/mobile.css">
  <title>VŠMTI GRADNJA | Visokogradnja, Niskogradnja, i usluge!</title>

  <style>
    .btn.btn-primary.btn-lg:hover {
      cursor: pointer;
    }

    .text-align {
      text-align:center;
    }
  </style>
</head>

<body ng-controller="skladisteController">

  <!-- Navbar -->
  <nav id="navbar">
    <div class="ui search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Što vas zanima?">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>

    <a href="skladiste.html" class="logo">
      <img src="./img/vsmtiSkladiste.png" alt="VSMTI-GRADNJA-DOO">
    </a>

    <ul>
      <li class="py-2"><a onclick="Logout()" href="./index.html"><i class="fas fa-arrow-left"></i> Odjava</a></li>
    </ul>
  </nav>


  <!-- Tabs -->
  <section id="showcase">
    <div class="showcase-content">
      <div class="container">
        <span class="add-header">
          <div class="plus-icon" style="display: inline;"><i class="fas fa-plus-circle fa-5x"></i></div>
          <h2 class="l-heading" style="display: inline; padding: 2rem 2rem;">Dodaj novi artikl</h2>
          <div class="plus-icon" style="display: inline;"><i class="fas fa-plus-circle fa-5x"></i></div>
        </span>
        <hr>
        <form action="#">
          <div class="flex-container">
            <div class="ui input">
              <input type="text" placeholder="Šifra proizvoda (auto)" disabled>
            </div>
            <div class="ui input">
              <input type="text" placeholder="Naziv" ng-model="nazivNovogArtikla">
            </div>
            <select name="singleSelectJmj" ng-model="dataJmj.singleSelectJmj" class="ui search dropdown">
              <option value="kom/m2">kom/m2</option>
              <option value="kom">kom</option>
              <option value="cm">cm</option>
              <option value="kg">kg</option>
              <option value="m2">m2</option>
              <option value="m3">m3</option>
              <option value="kg/m3">kg/m3</option>
            </select>
            <div class="ui input">
              <input type="number" step="0.01" placeholder="Cijena" ng-model="cijenaNovogArtikla">
            </div>
            <select name="singleSelectGroup" ng-model="dataGroup.singleSelectGroup" class="ui search dropdown">
              <option value="VG">Visokogradnja</option>
              <option value="NG">Niskogradnja</option>
              <option value="UU">Unutarnje uređenje</option>
              <option value="VT">Vrt</option>
            </select>
            <a class="btn btn-primary btn-lg" ng-click="modalZaSpremanjeArtikala()"><div class="plus-icon-add"><i class="fas fa-plus-circle fa-5x"></i><span style="margin-left: 1rem;"> Dodaj </span></div></a>
          </div>
        </form>
        <hr>
      </div>
    </div>
    

  </section>

  <div class="ui basic modal">
    <div class="ui icon header">
      <i class="archive icon"></i>
      Jeste li sigurni da želite spremiti novi artikl sa upisanim podatcima?
    </div>
    <div class="content text-align">
      <p>Nije moguće zaustaviti spremanje!</p>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        Ne
      </div>
      <div class="ui blue ok inverted button">
        <i class="checkmark icon"></i>
        Da
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer id="footer" class="bg-light text-center">
    <p>Copyright &copy; 2020, ASXCRO. All Rights Reserved.</p>
  </footer>



  <!-- jQuery -->
  <script src="./bundle/jQuery/jquery-3.5.1.min.js"></script>
  <script src="./bundle/jQuery/jquery.initialize.min.js"></script>

    <!-- AngularJS -->
    <script src="./bundle/angularJS/angular.min.js"></script>

  <!-- DataTables PlugIn -->
  <script src="./bundle/dataTables/DataTables-1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="./bundle/dataTables/DataTables-1.10.21/js/dataTables.semanticui.min.js"></script>

  <!-- Semantic UIJS -->
  <script src="./bundle/semanticUI/dist/semantic.min.js"></script>

  <!-- Local JS  -->
  <script src="./js/skladiste.js"></script>
</body>

</html>