<nav id='navbar'>
    <div class='ui search'>
        <div class='ui icon input'>
            <input class='prompt' type='text' placeholder='Što vas zanima?'>
            <i class='search icon'></i>
        </div>
        <div class='results'>

        </div>
    </div>
    <a href='skladiste.html' class='logo'>
        <img src='./img/vsmtiSkladiste.png' alt='VSMTI-GRADNJA-DOO'>
    </a>
    <ul>
        <li class='py-2'>
            <a href='logout.php' onclick='return RedirectToIndex()'>
                <i class='fas fa-arrow-left'></i>
                Odjava
            </a>
        </li>
    </ul>
</nav>